@media screen
and (min-width: 320px)
and (max-width: 480px) {
  .nav, .banner-text, .teaser-img, .teaser-img-container {
    display: none;
  }
  /* Navigation */
  #mobile-nav-icon {
    padding: 1rem 1.5em;
  }
  .mobile-menu {
    color: #eddbd1;
    background-color: #233d54;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3em;
    margin-top: 6rem;
    margin-bottom: 0;
  }
  .mobile-nav ul {
    list-style: none;
  }
  .mobile-nav li {
    padding: 0.2em 0;
  }
  .mobile-nav a {
    color: #eddbd1;
    text-decoration: none;
  }
  /* Main */
  .row-1, .row-3, .row-5 {
    background-size: 200%;
    display: block;
    min-height: 225px;
  }
  .row-1 {
    margin-top: 6rem;
  }
  .row-3, .row-5 {
    background-attachment: scroll;
  }
  .row-3 {
    margin-top: 0;
    min-height: 200px;
  }
  .row-5 {
    background-size: 130%;
  }
  .row-2, .row-4, .row-6 {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    height: 250px;
  }
  .row-4, .row-6 {
    height: 200px;
  }
  .teaser-text-container {
    margin: 0.5em 1rem;
    padding: 0;
  }
  p {
    font-size: 1rem;
  }
  .row-5 {
    height: auto;
  }
}
