.row-1 {
  background-image: url(./img/getting-here-background.jpg);
  background-size: 100%;
}

.row-3 {
  background-image: url(./img/getting-here-2.jpg);
  background-size: 100%;
}

.row-5 {
  background-image: url(./img/getting-here-3.jpg);
  background-size: 100%;
}

.row-2 {
  display: grid;
  grid-template: [top] 10% [middle-top] 5% [middle-bottom] auto [bottom] / [left] 1fr [middle-left] 1fr [middle-right] 1fr [right];
  height: 575px;
}

.row-2 h2, .row-2 h3,
.row-4 h2, .row-4 h3,
.row-6 h2, .row-6 h3 {
  color: #eddbd1;
  font-family: 'Shadows Into Light', cursive;
}

.row-2 h2, .row-4 h2, .row-6 h2 {
  font-size: 2.3em;
}

hr {
  background-image: linear-gradient(to right, rgba(238, 218, 209, 0), rgba(238, 218, 209, 0.75), rgba(238, 218, 209, 0));
  border: 0;
  grid-column: left / right;
  grid-row: middle-top / middle-bottom;
  height: 3px;
  margin: 2rem 0;
}

.row-2 h3, .row-6 h3 {
  font-size: 1.5em;
}

.title {
  grid-column: left / right;
  grid-row: top / middle;
  margin: 1rem;
}

#den, #eagle-express, #shuttle,
#bike-hike, #golf, #beaver-village {
  grid-row: middle-bottom / bottom;
  margin: 0 1rem;
}

#den, #bike-hike {
  grid-column: left / middle-left;
}

#eagle-express, #golf {
  grid-column: middle-left / middle-right;
}

#shuttle, #beaver-village {
  grid-column: middle-right / right;
}

#den p, #eagle-express p, #shuttle p {
  font-size: 1.2em;
}

.row-4 {
  display: grid;
  grid-template: [top] 10% [middle-top] 5% [middle-bottom] auto [bottom] / [left] 1fr [middle-left] 1fr [middle] 1fr [middle-right] 1fr [right];
  height: 675px;
}

.row-4 h3 {
  font-size: 1.3em;
}

#riverwalk, #sheraton, #airbnb, #comfort-inn {
  grid-row: middle-bottom / bottom;
  margin: 0 1rem;
}

#riverwalk p, #sheraton p, #airbnb p, #comfort-inn p {
  font-size: 1.1em;
}

#riverwalk {
  grid-column: left / middle-left;
}

#sheraton {
  grid-column: middle-left / middle;
}

#airbnb {
  grid-column: middle / middle-right;
}

#comfort-inn {
  grid-column: middle-right / right;
}

.row-6 {
  display: grid;
  grid-template: [top] 10% [middle-top] 5% [middle-bottom] auto [bottom] / [left] 1fr [middle-left] 1fr [middle-right] 1fr [right];
  height: 450px;
}

.row-6 h2 {
  margin: 1rem 0;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #eddbd1;
    border-radius: 8px;
    color: #eddbd1;
    font-size: 1rem;
    padding: 0.5em;
}

button:hover {
  background-color: #eddbd1;
  color: #776364;
}
