@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Raleway:400,500,700|Shadows+Into+Light");
/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Raleway', sans-serif; */

/*
  ============
  Header
  ============
*/

body {
  margin-top: 0;
  width: 100vw;
}

header {
  background-color: #233d54;
  height: 10vh
  padding: 0;
  padding-top: 0;
  position: fixed;
  width: 100vw;
}

.header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo,
.date {
  color: #eddbd1;
  font-family: "Cedarville Cursive", cursive;
  margin: 0;
  text-decoration: none;
  line-height: 2rem;
}

.logo-container a {
  text-decoration: none;
}

.menu {
  margin: 0;
}

.menu li {
  color: #eddbd1;
  display: inline-block;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.3em;
  padding: 0.5em 1rem;
}

.menu li:hover {
  background-color: #eddbd1;
  color: #233d54;
}

.menu li a:hover {
  color: #233d54;
}

.menu a {
  color: #eddbd1;
  text-decoration: none;
}

.logo-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#mobile-nav-icon {
  display: none;
}

.mobile-nav {
  display: none;
}

/*
  ============
  Body
  ============
*/

p {
  color: #eddbd1;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}

main {
  display: flex;
  flex-direction: column;
}

.row-1,
.row-3,
.row-5 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  clear: both;
  width: 100%;
}

.row-1 {
  background-image: url(./img/colorful-colorado.jpg);
  display: grid;
  grid-template-columns: [start] 50% [middle] 50% [end];
  grid-template-rows: [start] auto [end];
  min-height: 100vh;
}

.banner-text {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column-start: middle;
  grid-column-end: end;
  margin-top: 15rem;
  height: 100vh
}

.banner-text h2,
.banner-text h3 {
  color: #233d54;
  font-family: "Cedarville Cursive", cursive;
  line-height: 0;
}

.banner-text h2 {
  font-size: 3rem;
}

.banner-text h3 {
  font-size: 2rem;
}

.banner-text h4 {
  color: #233d54;
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  line-height: 0;
}

.row-3 {
  background-image: url(./img/colorado-travel.jpg);
  min-height: 600px;
}

.row-5 {
  background-image: url(./img/keamonn-header.jpg);
  background-size: 100%;
  min-height: 600px;
}

.background-img {
  max-width: 100%;
}

.row-2,
.row-4,
.row-6 {
  display: grid;
  grid-template-columns: [start] auto [middle] 40% [end];
  grid-template-rows: [top] auto [bottom];
  height: 500px;
  padding: 0 2rem;
}

.row-2,
.row-6 {
  background: #776364;
}

.row-4 {
  background: #233d54;
}

.teaser-img-container {
  align-items: center;
  display: flex;
  grid-column-start: middle;
  grid-column-end: end;
  padding: 2rem;
}

.teaser-img {
  max-width: 100%;
}

.teaser-text-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  grid-column-start: start;
  grid-column-end: middle;
  grid-row-start: top;
  grid-row-end: bottom;
  margin: 2rem 1rem;
}

.teaser-text a {
  color: #eddbd1;
  font-weight: bold;
  text-decoration: none;
}

/*
  ============
  Footer
  ============
*/

footer {
  background-color: #233d54;
  padding: 1rem 0;
  width: 100vw;
}

.legal {
  color: #eddbd1;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

/*
  ============
  RSVP
  ============
*/

.rsvp-embed {
  padding-top: 12vh;
}
